# Generated Prisma client
src/generated/

# Build output
dist/

# Environment
.env

node_modules/

logs/
*.log

# Postman
.postman/environments/
.postman/globals/
.postman/flows/
.postman/specs/

test-socket.html